{% extends 'base.html.twig' %}

{% block main %}

{% set sample_videos = [289729765, 238902809, 150870038, 219727723, 289879647, 261379936, 289029793, 60594348, 290253648] %}

<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Category-Funny</h1>
            <div class="btn-group">
                <div class="dropdown ml-2">
                    <button type="button" class="btn btn-primary dropdown-toggle" name="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">SubCategories</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <ul>
                          <li><a href="#">Funny</a></li>
                          <ul>
                            <li><a href="#">Surprising</a></li>
                            <li><a href="#">Exciting</a></li>
                            <ul>
                              <li><a href="#">Strange</a></li>
                              <li><a href="#">Relaxing</a></li>
                            </ul>
                          </ul>
                        </ul>
                    </div>
                </div>

                <div class="form-row align-items-center">
                    <form action="#" method="post">
                        <select class="custom-select" id="inlineFormCustomSelect" onchange="this.form.submit();">
                            <option selected>Sort ...</option>
                            <option value="1">Highest Rated</option>
                            <option value="2">Title A-Z</option>
                            <option value="3">Title Z-A</option>
                        </select>
                    </form>
                </div>

            </div>
        </div>
    </section>

    <div class="album">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                {% for video in sample_videos %}

                    <div class="card-mb-4">
                        <div align ="center" class="embed-responsive embed-responsive-16by9">
                            <iframe class="" src="https://player.vimeo.com/video/{{ video }}" frameboarder="0"></iframe>
                        </div>
                    </div>

                  <div class="card-body">
                      <h3>Video Title</h3>
                      <div class="d-flex flex-row justify-content-between align-items-center">
                          <div class="btn-group">
                              <i class="fa fa-thumbs-up"><small class="text-muted"></small></i>@nbsp;
                              <i class="fa fa-thumbs-down"><small class="text-muted"></small></i>@nbsp;
                              <button data-toggle="tooltip" data-placement="top"  title="Click To The video" type="button" name="button" class=" btn btn-primary btn-outline-sccess"><i class="fa fa-thumbs-up"></button>
                              <button data-toggle="tooltip" data-placement="top"  title="Click To The video" type="button" name="button" class=" btn btn-primary btn-outline-sccess"><i class="fa fa-thumbs-up"></button>
                              <div class="">
                              <a href="{{ path('video_details') }}"></a>
                                  Comments
                              </div>
                              <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                      </div>
                  </div>
                {% endfor %}
                <div class="card-md-4">
                    <div align ="center" class="embed-responsive embed-responsive-16by9">
                        <iframe class="" src="https://player.vimeo.com/video/113716040" frameboarder="0"></iframe>
                    </div>
                </div>
                </div>
            </div>
        </div>

    </div>
</main>

{% endblock %}
