<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
        <link rel="stylesheet" href="{{ asset('build/app.css') }}" />
        <script src="{{ asset('build/app.js') }}"></script>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="text-center">
        <div class="container-fluid">
            {% block main %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
